@use "sass:math";
@import "../../scss/base/mixins.scss";


.products{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  padding: rem(5);
  width: 100%;
}