.content{
  &__sort-filter{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}


.filter-checkbox{
  &.lock-input{
    background: red;

  }
}

.filter{
  &__items{
    height: rem(200);
    overflow: scroll;
  }

}

.range-filters{
  width: 100%;
}