@use "sass:math";
@import "../../scss/base/mixins.scss";
@import 'nouislider/dist/nouislider.css';

// Основные цвета
$mainColor: #221f1f; 
$mygreen:#00bc52;

.main{
  &__filters{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__content{
    display: flex;
    width: 80%;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
  }
}


.content{

  &__sort-filter{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: rem(10) rem(15);
  }
}

.sort-filter{
  border: 0.5px solid $mainColor;
  border-radius: rem(3);
  padding: rem(5);
  font-size: rem(14);
  option{
    padding-bottom: rem(10);
  }


}

.search-filter{
  border: 0.5px solid $mainColor;
  border-radius: rem(3);
  padding: rem(5);
  font-size: rem(14);
}
.change-view{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height: rem(32);
  width: rem(64);

}

.button-view{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0.5px solid #3e77aa;
  border-radius: rem(3);
  height: rem(32);
  width: rem(32);


}
.view__small{
  padding: 3px 4px;
  
}

.view__large{
  padding: 3px 4px;
}

.small-tile{
  width: 4px;
  height: 5px;
  margin: 1px;
  background: #3e77aa;
}
.large-tile{
  width: 9px;
  height: 10px;
  background: #3e77aa;
}






.filter{
  display: flex;
  flex-direction: column;
  &__items{
    display: flex;
    flex-direction: column;
    height: rem(200);
    overflow: scroll;
  }
}



.filters-checkbox{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.range-filters{
  width: 100%;
}
.lock-input{
  background: red;
}