@use "sass:math";
@import "../../scss/base/mixins.scss";
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;


.product{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  height: rem(320);
  padding: 5px;
  border: 0.2px solid #221f1f;
  &.small{
    width: 16.66%;
    height: rem(200);
  }
  text-align:left;
  vertical-align: baseline;
  padding: 10px;



}
.product {

  // .product__img

  &__img {
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: rem(10);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

  }

  // .product__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align:left;
    vertical-align: baseline;
    width: 100%;
  }

  // .product__title

  &__title {
    line-height: 120%;
    margin-bottom: rem(10) ;

  }

  // .product__description

  &__description {
    p{
      margin-bottom: rem(5);
      @include adaptiveValue("font-size", 14, 12);
      }

  }

  &__descriptions {
    display: none;

  }
  // .product__category

  &__category {
  }

  // .product__brand

  &__brand {
  }

  // .product__stock

  &__stock {
  }

  // .product__rating

  &__rating {
  }

  // .product__discount

  &__discount {
  }

  // .product__price

  &__price {
  }

  // .product__footer

  &__footer {
  }
}
.link-button {
}
.link-button-add-to-cart {
}
.link-button-details {
}
